.memory {
  max-width: 400px;
  margin: 0 auto;
//   padding: 2rem;
  text-align: center;

  display: flex;
  flex-wrap: wrap;


  &Item {
    width: 100px;
    height: 100px;
    padding: 1px;

    border: solid 3px white;
    background-color: antiquewhite;
    box-sizing: border-box;

    &Hiden{
        width: 100px;
        height: 100px;
        padding: 1px;
    
        // border: solid 3px white;
        // background-color: antiquewhite;
        visibility: hidden;
        box-sizing: border-box;
    }
    &Clear{
        width: 100px;
        height: 100px;
        padding: 1px;
    
        // border: solid 3px white;
        // background-color: antiquewhite;
        visibility: hidden;
        box-sizing: border-box;
    }

    &ValueShow {
      width: 100%;
      height: 100%;

      display: flex;
    }
    &ValueHiden {
      width: 100%;
      height: 100%;
      visibility: hidden;
    }
  }
}

i {
  margin: auto;
}


button{

    margin: 0 auto;
    padding: 1rem;

    background-color: red;
    border-radius: .5rem;
  
    display: flex;

}

h2{
    text-align: center;
}

@media (max-width: 450px) {
    .memory {
        max-width: 320px;

      
        &Item {
          width: 80px;
          height: 80px;

          &Hiden{
              width: 80px;
              height: 80px;

          }
          &Clear{
              width: 80px;
              height: 80px;
     
          }
      
     
        }
      }
  }